/**
 * Created by Ivan Basenko on 23.10.2018.
 */
.THIS .slds-card {
    border-radius: 7px;
    box-shadow: 0 2px 3px 0 rgba(12, 2, 23, 0.32);
}


.THIS .slds-form-element__static {
    /*font-size: 16px;*/
    color: #2e57d7;
}