.THIS .slds-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(12, 2, 23, 0.32);

}

/*.THIS .slds-text-heading--medium {*/
/*color: #1ed760;*/
/*font-family: "Lato", sans-serif ;*/
/*}*/
.THIS .slds-text__title {
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

.THIS .slds-form-element__static {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    color: #449ed7;
    font-weight: lighter;
}

.THIS hr {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    border-top: 1px solid rgb(221, 219, 218);
}

/*.THIS .slds-form-element__static {*/
/*border-bottom: 2px solid  #001cff;*/
/*}*/
.THIS .outputStyle {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    color: #449ed7;
    font-weight: lighter;
}

.THIS .label {
    font-weight: bold;
    display: block;
}

.THIS .recordView {
    margin-bottom: 3px;
}