/**
 * Created by Ivan Basenko on 29.10.2018.
 */
.THIS .slds-border_top {
    border-top: 3px solid #285cff;
}

.THIS .slds-scrollable {
    height: 30vh;
}

.THIS .slds-pill_container {
    max-width: 360px;
}

.THIS li:first-child {
    padding-left: .125rem;
}